@font-face {
  font-family: "SGL";
  font-style: normal;
  font-weight: normal;
  src: url("../SGL.otf") format("truetype");
}
body {
  font-family: "SGL";
  font-size: 11px;
  color: #C9b274;
}

.p-wrapper p {
  color: white;
  font: 15px/24px Georgia, serif;
}

.footer {
  font-family: "SGL", Tahoma;
  font-size: 9px;
  line-height: 25px;
}

.footer-nav .bottom li {
  font-size: 9px;
  letter-spacing: 0.18em;
  font-weight: 700;
}

.content-wrapper {
  margin-bottom: 0px;
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
}
.content-wrapper .navigation .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0 0 28px;
  min-height: 34px;
}
.content-wrapper .navigation .logo img {
  max-width: 99%;
}
.content-wrapper .navigation .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 0px;
  background: url("../img/border_menu.png") no-repeat center;
}
.content-wrapper .navigation .menu p {
  color: #C9b274;
}
.content-wrapper .navigation .menu li {
  list-style-type: none;
}
.content-wrapper .navigation .menu a {
  color: #C9b274;
  text-decoration: none;
}
.content-wrapper .navigation .menu a:hover {
  color: white;
}
.content-wrapper .navigation .menu li {
  margin: 0 11px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/goyardBG.jpg") no-repeat #000;
}

.big-wrapper {
  margin: 0px 240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .big-wrapper {
    margin: 0;
  }
}
@media screen and (min-width: 425) {
  .big-wrapper {
    margin: 0;
  }
  .big-wrapper .footer {
    display: none;
  }
  .big-wrapper .social-media {
    display: none;
  }
}
.footer {
  padding: 27px 0 5px;
  background: url("../img/border_slider.png") center 0 no-repeat;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.foot-links p {
  color: white;
}
.foot-links li {
  list-style-type: none;
}
.foot-links a {
  color: #C9b274;
  text-decoration: none;
}
.foot-links a:hover {
  color: white;
}

.footer-nav {
  text-align: center;
  background: url("../img/border_footer.png") center 0 no-repeat;
}
.footer-nav p {
  color: #C9b274;
}
.footer-nav li {
  list-style-type: none;
}
.footer-nav a {
  color: #C9b274;
  text-decoration: none;
}
.footer-nav a:hover {
  color: white;
}
.footer-nav .bottom {
  display: flex;
  justify-content: center;
}
.footer-nav .bottom li {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 20px 15px 0 20px;
}

.home-wrapper {
  margin: 0 auto 50px;
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
}
.home-wrapper .slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-wrapper .menuTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  position: relative;
  height: 58px;
  background: url("../img/border_slider.png") no-repeat bottom;
}
.home-wrapper .menuTwo p {
  color: #C9b274;
}
.home-wrapper .menuTwo li {
  list-style-type: none;
}
.home-wrapper .menuTwo a {
  color: #C9b274;
  text-decoration: none;
}
.home-wrapper .menuTwo a:hover {
  color: white;
}
.home-wrapper .p-wrapper {
  margin: 35px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 595px;
}

.social-media {
  font-size: 0;
  max-width: 990px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 65px 0;
  text-align: center;
  background: url("../img/border_diamond.png") center top no-repeat;
  margin: 0 -15px;
}
.social-media img {
  width: 300px;
  height: 169px;
  margin: 0px 15px;
}

/*# sourceMappingURL=output.css.map */
