.home-wrapper{
  margin:0 auto 50px;
  .slideshow{
    @include flex-center;
    width: 100%;
  }
  .menuTwo{
    @include menus;
    @include whiteHover;
    justify-content: space-around;
    position: relative;
    height: 58px;
    // // margin: 0 auto;
    // border: solid 1px red;
    background: url('../img/border_slider.png') no-repeat bottom;
  }
  .p-wrapper{
    margin: 35px auto 50px auto;
    @include flex-center;
    text-align: center;
    // font: 15px/24px Georgia, serif;
    width: 595px;
  }
}
.social-media{
  font-size: 0;
  width: 100%;
  // margin:0 auto 50px;
  // margin: 0 -15px;
  padding: 65px 0;
  text-align: center;
  background: url('../img/border_diamond.png') center top no-repeat;
  @include flex-center;
  img{
    width: 300px;
    height: 169px;
    margin:0px 15px;
  }
}
