.home-wrapper{
  margin:20px auto 55px;
  .slideshow{
    @include flex-center;
    width: 100%;
  }
  .menuTwo{
    @include menus;
    @include whiteHover;
    justify-content: space-around;
    position: relative;
    height: 64px;
    // // margin: 0 auto;
    // border: solid 1px red;
    background: url('../img/border_slider.png') no-repeat bottom;
  }
  .p-wrapper{
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    p{
      color: orange;
      font: 15px/24px Georgia, serif;
      text-align: center;
      width: 495px;

    }
  }
}
