.footer{
  padding: 27px 0 5px;
  background: url('../img/border_slider.png') center 0 no-repeat;
  margin: 0 auto;
  // width: 960px;
  width: 100%;

  @include menus;

  justify-content: space-between;

}
.foot-links{
  @include whiteHover(white);
  li{
    list-style-type: none;
  }

}
//
// .left-foot{
//   @include whiteHover(white);
//   text-decoration: line-through;
// }
