.navigation{
  // border:1px solid red;
  .logo{
    @include flex-center;
  }
  .menu{
    margin-top: 20px;
    padding:20px 0px;
    background: url('../img/border_menu.png') no-repeat center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    @include greenTag;
    // max-height: 39px;
    align-items: center;
    li{
      margin: 0 11px;
      list-style: none;
    }
  }
}
