* {
  box-sizing: border-box;
  // border: 1px solid red;
  color: $fontColor;
}
body{
  background: url('../img/goyardBG.jpg') no-repeat;
  transition: background 0.25s ease;
  color: $fontColor;
}
.big-wrapper{
  margin: 0px 240px;
}

// @media screen and (min-width: 621px) {
//   p{
//     font-size: 15px;
//     line-height: 24px;
//     margin-bottom: 25px;
//   }
// }
// @media screen and (min-width:1024px) {
//   .header{
//     max-width: 1300px;
//   }
//   .logo{
//     img{
//       // min-height: 75%; work here
//     }
//   }
// }
