@font-face {
  font-family: 'SGL';
  font-style: normal;
  font-weight: normal;
  src: url('../SGL.otf') format('truetype');
}
body {
  font-family: 'SGL';
  font-size: 11px;
  color: $fontColor;
}
// p {
//   font-family: 'SGL', serif;
//   font-size: 48px;
//   color: red;
// }

.p-wrapper {
  p{
    color: white;
    font: 15px/24px Georgia, serif;
  }
}
