@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wide{
  width: 100%;
  display: flex;
  flex-direction: column;
}
@mixin greenTag($color: tan){
  a{
    color: $color;
    text-decoration:none;
    &:hover{
      color:lighten(white,20%);
    }
  }
}
